<h1>CursRapid.ro</h1>
<div>Afli rapid cursul</div>
<br><br>
<div>
    <div>Select date:</div>
    <div style="display: inline-block; min-height: 290px;">
        <datepicker class="datepicker" [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="dateSelected"></datepicker>
    </div>
</div>
<br>
<div>
    <div>Select currency:</div>
    <!-- <ng-select [items]="currencyTypes" (selected)="currencyChangedEvent($event)"></ng-select> -->
</div>
<div *ngIf="!error">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 40%">Bank</th>
            <th style="width: 20%">Buy rate</th>
            <th style="width: 20%">Sell rate</th>
            <th style="width: 20%">Last update</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let aggregateRate of aggregatedRates">
            <td class="text-right">{{aggregateRate.bankName}}</td>
            <td>{{aggregateRate.buyValue}}</td>
            <td>{{aggregateRate.sellValue}}</td>
            <td>{{aggregateRate.lastChangedAt}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="error">
    Error is {{this.error}}
</div>