<h1>CursRapid.ro</h1>
<div>Afli rapid cursul</div>
<br><br>
<div *ngIf="!error">
    <div>
        <div>Select date:</div>
        <datepicker-ionic class="datepicker" singleSelect expanded="true" [displayDate]="dateSelected"
                          viewFormat="YYYY-MM-DD" (onDateChange)="dateChangedEvent($event)"></datepicker-ionic>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 40%">Bank</th>
            <th style="width: 20%">Buy rate</th>
            <th style="width: 20%">Sell rate</th>
            <th style="width: 20%">Last update</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let aggregateRate of aggregatedRates">
            <td class="text-right">{{aggregateRate.bankName}}</td>
            <td>{{aggregateRate.buyValue}}</td>
            <td>{{aggregateRate.sellValue}}</td>
            <td>{{aggregateRate.lastChangedAt}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="error">
    Error is {{this.error}}
</div>